* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.page-layout {
  min-height: 100vh;
}

.page-layout .main-content {
  margin-left: 260px;
}

/* You can add global styles to this file, and also import other style files */
